# Standard Default Settings for localized ansible.cfg file stored in working dir with ansible project
[defaults]
inventory      = ./inventory
sudo_user      = root
remote_port    = 22
remote_user = ansible
host_key_checking = false
log_path = /var/log/ansible.log
nocolor = 0

[privilege_escalation]
become=True
become_method=sudo
become_user=root
become_ask_pass=False
